body {
  overflow: overlay;
}

*::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddd;
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.menu-sticky {
  @apply drop-shadow-md backdrop-blur-lg;
}

.toc-list-item > .toc-list {
  @apply my-3 ml-3 space-y-1 border-l pl-2;
}

.pattern-header-text {
  text-shadow: 2px 2px 10px #000;
}

.is-active-link {
  @apply rounded bg-gray-100 dark:bg-slate-600;
}

.moment-content {
  .tag {
    &::before {
      content: "#";
    }
    @apply rounded bg-gray-100 px-1 py-0.5 text-sm text-gray-900 hover:bg-gray-200 dark:bg-slate-600 dark:text-slate-50 dark:hover:bg-slate-700 dark:hover:text-slate-100;
  }
}

.index-head{
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.menu-sticky {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(30 30 30 / .55));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)!important;
}

.no-sticky{
  @media (max-width: 640px){
    --tw-drop-shadow:unset;
  }
}